SOLA1/Natural-Libraries/SOLATEMP/RES/OrderSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Address" nillable="true" type="Address" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Unit" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Zip4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IASApplication" nillable="true" type="IASApplication" />
  <xs:complexType name="IASApplication">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CrmApplicationID" xmlns:q1="http://microsoft.com/wsdl/types/" type="q1:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="ATStatus" type="ApplicationStatuses" />
      <xs:element minOccurs="1" maxOccurs="1" name="ATNumber" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="PlanCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Term" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="PremiumClass" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FaceAmount" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Premium" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CreatedOn" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CapIndicator" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasOnlineApp" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationSource" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationRoles" type="IASApplicationRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ApplicationStatuses">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PI" />
      <xs:enumeration value="PY" />
      <xs:enumeration value="PP" />
      <xs:enumeration value="PB" />
      <xs:enumeration value="PV" />
      <xs:enumeration value="PC" />
      <xs:enumeration value="AR" />
      <xs:enumeration value="S7" />
      <xs:enumeration value="A" />
      <xs:enumeration value="U6" />
      <xs:enumeration value="U4" />
      <xs:enumeration value="U5" />
      <xs:enumeration value="PM" />
      <xs:enumeration value="SD" />
      <xs:enumeration value="U3" />
      <xs:enumeration value="PO" />
      <xs:enumeration value="PA" />
      <xs:enumeration value="PR" />
      <xs:enumeration value="PW" />
      <xs:enumeration value="UA" />
      <xs:enumeration value="UB" />
      <xs:enumeration value="UC" />
      <xs:enumeration value="U2" />
      <xs:enumeration value="PX" />
      <xs:enumeration value="P1" />
      <xs:enumeration value="P2" />
      <xs:enumeration value="P3" />
      <xs:enumeration value="U1" />
      <xs:enumeration value="W4" />
      <xs:enumeration value="WU" />
      <xs:enumeration value="W3" />
      <xs:enumeration value="W1" />
      <xs:enumeration value="W2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IASApplicationRole">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CRMContactID" xmlns:q2="http://microsoft.com/wsdl/types/" type="q2:guid" />
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="ApplicationRoles" />
      <xs:element minOccurs="1" maxOccurs="1" name="BenePercent" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsBeneRestricted" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SettlementType" type="SettlementTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ApplicationRoles">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Insured" />
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Member" />
      <xs:enumeration value="CoOwner" />
      <xs:enumeration value="Payer" />
      <xs:enumeration value="PrimaryBene" />
      <xs:enumeration value="ContingentBene" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SettlementTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LifeAnnuity" />
      <xs:enumeration value="LifeAnnuity10Y" />
      <xs:enumeration value="LifeAnnuity15Y" />
      <xs:enumeration value="LifeAnnuity20Y" />
      <xs:enumeration value="InterestOnly" />
      <xs:enumeration value="LumpSum" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplicationStatuses" type="ApplicationStatuses" />
  <xs:element name="IASApplicationRole" nillable="true" type="IASApplicationRole" />
  <xs:element name="ApplicationRoles" type="ApplicationRoles" />
  <xs:element name="SettlementTypes" type="SettlementTypes" />
  <xs:element name="IASBase" nillable="true" type="IASBase" />
  <xs:complexType name="IASBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IASContact" nillable="true" type="IASContact" />
  <xs:complexType name="IASContact">
    <xs:complexContent mixed="false">
      <xs:extension base="IASBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Id" xmlns:q3="http://microsoft.com/wsdl/types/" type="q3:guid" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CN" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ContactID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Prefix" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BranchOfService" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MilitaryRank" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GovtID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MilitaryRankId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MilitaryStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IsMember" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Addresses" type="IASAddress" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Emails" type="IASEmail" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Phones" type="IASPhone" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrganizationName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DIEMS" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PEBD" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BASD" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfPromotion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfDeath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfPreviousPromotion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateRetired" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SBPOption" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfMarriage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CauseOfDeath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Owner" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeathDocumentValidationCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeathServiceConnected" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AppSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VAClaimNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VADisabilityPercent" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VADisabilityDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IntroFlag" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProcessIndicator" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SSNProtectedDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BirthCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DeathCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebsiteURL" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrganizationEstablishedDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrganizationCertificateCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PreviousMilitaryRankID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SpecialPay" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RankProtection" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="RankProtectionDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DateOfDivorce" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DivorceCertificateCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MarriageCertificateCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AAFMAAAccess" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SpecialCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MailSpecial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Newsletter" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Underwriting" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ApplSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AnnualMeeting" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AnnualReport" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="BridgerVerify" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProcessInd" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsWidowOfServedInMilitary" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IASAddress">
    <xs:complexContent mixed="false">
      <xs:extension base="Address">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Zip" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Undeliverable" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Certified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IASEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EmailUndeliverable" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailStatusDate" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Protected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IASPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Extension" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Remarks" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Preferred" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="International" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="InvalidInd" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BestCallTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relationship" nillable="true" type="IASContactRelationship" />
  <xs:complexType name="IASContactRelationship">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MemberId" xmlns:q4="http://microsoft.com/wsdl/types/" type="q4:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="MemberContactID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MemberRole" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PartnerId" xmlns:q5="http://microsoft.com/wsdl/types/" type="q5:guid" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartnerContactID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartnerRole" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Delete" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IASEmail" nillable="true" type="IASEmail" />
  <xs:element name="IASAddress" nillable="true" type="IASAddress" />
  <xs:element name="IASOrder" nillable="true" type="IASOrder" />
  <xs:complexType name="IASOrder">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CRMOrderID" xmlns:q6="http://microsoft.com/wsdl/types/" type="q6:guid" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contacts" type="IASContact" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relationships" type="IASContactRelationship" />
      <xs:element minOccurs="1" maxOccurs="1" name="HeightFeet" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="HeightInches" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhysicalExam" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Applications" type="IASApplication" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payment" type="IASPayment" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IASPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CardHolder" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CCNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CCSageGuid" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CCExpMonth" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="CCExpYear" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="IASAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IASPayment" nillable="true" type="IASPayment" />
  <xs:element name="IASPhone" nillable="true" type="IASPhone" />
</xs:schema>